@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json;
@using Microsoft.EntityFrameworkCore;
@using WebApplication111.Data;
@using WebApplication111.Models;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext DbContext;
@model IdentityUser

@{
    var user = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
    ViewData["Title"] = "Profile";
    var companies = DbContext.Companies.Where(i => i.UserId == user.Id);
    string json = JsonConvert.SerializeObject(companies, Formatting.Indented);
    string jsonUserBonuses = JsonConvert.SerializeObject(DbContext.UsersBonuses.Include(i => i.Bonus).ThenInclude(i => i.Company).Where(i => i.UserId == user.Id), Formatting.Indented, new JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Ignore, ContractResolver = new IncludeIgnored(true) });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="profile-card-4 z-depth-3">
                <div class="card">
                    <div class="card-body text-center bg-primary rounded-top">
                        <div class="user-box">
                            <img src="https://techcommunity.microsoft.com/t5/image/serverpage/image-id/217078i525F6A9EF292601F/image-size/large?v=v2&px=999" alt="user avatar">
                        </div>
                        <h5 class="mb-1 text-white notranslate">@Model.UserName</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group shadow-none">
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="list-details">
                                    <span class="notranslate">@Model.PhoneNumber</span>
                                    <small>Mobile Number</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="list-details">
                                    <span class="notranslate">@Model.Email</span>
                                    <small>Email Address</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card z-depth-3">
                <div class="card-body">
                    <ul class="nav nav-pills nav-pills-primary nav-justified">
                        <li class="nav-item">
                            <a href="#edit" data-target="#edit" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#companies" data-target="#companies" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">My company</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#bonus" data-target="#bonus" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Bonus list</span></a>
                        </li>
                    </ul>
                    <div class="tab-content p-3">

                        <div class="tab-pane" id="companies">
                            <div class="col-sm-auto text-center">
                                <div class="input-group-prepend">
                                    <h4 class="mb-2">My companies</h4>
                                </div>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">Add Company</button>
                            </div>

                            <br>

                            <div class="container mt-2 mb-3">
                                <div class="d-flex justify-content-center row">
                                    <div class="col-md-12" id="container">
                                        <div id="gridcompany"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="bonus">
                            <div class="row" id="bonusContainer">
                            </div>
                        </div>

                        <div class="tab-pane active show" id="edit">
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" asp-for="UserName" type="text" value="@Model.UserName" required  oninvalid="setCustomValidity('!!!!')"  oninput="setCustomValidity('')">             
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="email" asp-for="Email" value="@Model.Email" required oninvalid="setCustomValidity('!!!!')"  oninput="setCustomValidity('')">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Phone number</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="tel" asp-for="PhoneNumber" value="@Model.PhoneNumber">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="submit" class="btn btn-primary" asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.Id" value="Save Changes">
                                        <input type="reset" class="btn btn-secondary" asp-controller="Profile" asp-action="CancelEdit" value="Cancel">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="modalcreate" novalidate>
                    <div class="form-group text-center">
                        <img src="https://img.flaticon.com/icons/png/512/1753/1753543.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" id="dropzone" class="dropzoneCompany" alt="Preview Image" width="200" />
                    </div>
                    <div class="form-group row">
                        <input class="form-control" id="companyName" type="text" value="" placeholder="Company name" required minlength="5" maxlength="40">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a valid company name (between 5 and 40 characters).
                        </div>
                    </div>
                    <div class="form-group">
                        <input name='tags' id="companyTags" class="notranslate" required><div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please add some tags.
                        </div>
                    </div>
                    <div class="form-group row">
                        <input class="form-control" id="companyYT" type="url" value="" placeholder="YT video" required>
                    </div>
                    <div class="form-group row">
                        <label>Choose end day of company :</label>
                        <input id="companyED" class="form-control" onkeydown="return false;" required />
                    </div>
                    <div class="form-group row">
                        <label>Choose theme of company :  </label>
                        <input id="companyTh" class="form-control" required />
                    </div>
                    <div class="form-group row">
                        <textarea class="form-control" id="companyDesc" rows="4" placeholder="Description" required minlength="200" maxlength="400"></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a valid company name (between 200 and 400 characters).
                        </div>
                    </div>
                    <div class="form-group row">
                        <input class="form-control" id="companyPrice" type="number" min="1" value="" placeholder="How much money u need?" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.all.min.js"></script>
<script depends-on="jquery">

    var userId = '@Model.Id';
    var companies =  @Html.Raw(json);
    var userBonuses = @Html.Raw(jsonUserBonuses);

    var mode = 'user'
    var tags = []

    window.onload = function () {
        dropimage('dropzoneCompany');
        userBonuses.forEach(b => {
            newBonus = { Id: b.Id, Title: b.Bonus.Title, Price: b.Bonus.Price, cmpTitle: b.Bonus.Company.Name };
            sendBonus(mode, newBonus)
        });
        $.get('/Company/ParseCompaniesTags', {}, function (parsedTags) {
            Array.prototype.push.apply(tagify.settings.whitelist, parsedTags);
        });
    };

    jQuery(document).ready(function () {
        jQuery('a[data-toggle="pill"]').on('show.bs.tab', function (e) {
            localStorage.setItem('activeTab', jQuery(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            jQuery('a[href="' + activeTab + '"]').tab('show');
        }
    });

    $('[data-dismiss=modal]').on('click', function (e) {
        clearModal();
    })

    function openread(e) {
        var url = '@Url.Action("ReadOnlyCmp", "Company")' + '?id=' + this.dataItem($(e.target).closest("tr")).id;
        window.location.href = url;
    }

    function openedit(e) {
        var url = '@Url.Action("ViewCompany", "Profile")' + '?id=' + this.dataItem($(e.target).closest("tr")).id;
        window.location.href = url;
    }
</script>

<script src="~/js/CompanyGrid.js"></script>
<script src="~/js/Company.js"></script>
<script src="~/js/TagsCreate.js"></script>
<script src="~/js/imageloader.js"></script>
<script src="~/js/Bonus.js"></script>
<script src="~/js/ImageUploader.js"></script>