@using Microsoft.AspNetCore.Identity
@using WebApplication111.Data;
@using Microsoft.EntityFrameworkCore;
@using Newtonsoft.Json;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext DbContext;
@model Company

@{
    var user = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
    var jsonBonuses = JsonConvert.SerializeObject(DbContext.Bonuses.Include(i => i.Company).Where(i => i.Company.Id == Model.Id), Formatting.Indented);
    var jsonNews = JsonConvert.SerializeObject(DbContext.News.Include(i => i.Company).Where(i => i.Company.Id == Model.Id), Formatting.Indented);
    var jsonGalery = JsonConvert.SerializeObject(DbContext.Galery.Include(i => i.Company).Where(i => i.Company.Id == Model.Id), Formatting.Indented);
    var jsonComments = JsonConvert.SerializeObject(DbContext.Comments.Include(i => i.Company).Where(i => i.Company.Id == Model.Id), Formatting.Indented);
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container" style="font-family:'Aire Exterior'">
    <div class="row align-items-center my-5 text-center">
        <div class="col-lg-7">
            <img id="imageCompany" class="img-fluid rounded mb-4 mb-lg-0" src="@Model.UrlImage" alt="">
        </div>
        <div class="col-lg-4">
            <h2 class="font-weight-light">@Model.Name</h2>
            <input id="rating" />
            <h6 class="font-weight-light" id="voters">(0)</h6><br>
            <h4 class="font-weight-light" id="balance">@Model.Balance $</h4>
            <p style="text-align:left;">
                from @Model.Price $
                <span style="float:right;" id="percentText"></span>
            </p>
            <div id="progressbar"></div> <br>
            <a id="buttonDonate" class="btn btn-primary" href="#" data-toggle="modal" data-target="#modalDonate">DONATE</a>
        </div>
    </div>
    <div class="alert alert-success" id="alertDonate" style="display:none;">
        <strong>Success!</strong> Thansk for your donate!
    </div>
    <div class="col-lg-12">
        <div class="card z-depth-3">
            <div class="card-body">
                <ul class="nav nav-pills nav-pills-primary nav-justified">
                    <li class="nav-item">
                        <a href="#description" data-target="#description" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Description</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#photos" data-target="#photos" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Photo gallery</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#news" data-target="#news" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">News</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#bonus" data-target="#bonus" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Bonus</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#comments" data-target="#comments" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Comments</span></a>
                    </li>
                </ul>

                <div class="tab-content p-3">

                    <div class="tab-pane active show" id="description">
                        <div class="demo-section k-content wide" style="max-width: 644px; margin: auto">
                            <div id="mediaplayer" style="height:360px"></div>
                        </div>
                        <br>
                        <br>
                        <div class="col-sm-auto">
                            <p id="descriptionCmp" class="linebreaks">@Model.Description</p>
                        </div>
                        <br>
                        <div class="col-12 text-center mt-4">
                            <h2>Wanna rate this company?</h2>
                            <input id="cmpRating">
                        </div>
                        <div class="alert alert-success" id="alertRating" style="display:none;">
                            <strong>Success!</strong> Thansk for your rating!
                        </div>
                    </div>

                    <div class="tab-pane text-center" id="photos">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner notranslate" id="photosContainer">
                                <div class="carousel-item active">
                                    <img src="https://sun9-31.userapi.com/impg/8BoPgii3Al2X281vOrwMviK_8FW-6BOwFTxIGA/KGbfM8lbXno.jpg?size=1080x720&quality=96&sign=ce7f6ae45bef9fe212b14431b4b76a4b&type=album">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>


                    <div class="tab-pane" id="news">
                        <div class="text-center">
                            <div id="calendar" class="notranslate"></div>
                        </div>
                        <div class="row justify-content-center notranslate" id="newsContainer">
                        </div>
                    </div>



                    <div class="tab-pane" id="bonus">
                        <div class="text-center">
                        </div>
                        <div class="row" id="bonusContainer">
                        </div>
                    </div>

                    <div class="tab-pane" id="comments">
                        <div class="card mb-3">
                            <h4>Want post comment?</h4>
                            <div class="col-12 text-center">
                                <textarea id="commentBox"></textarea>
                                <div class="k-counter-container"><span class="k-counter-value">0</span>/200</div>
                                <button class="btn btn-success" id="createComment">Send</button>
                            </div>
                        </div>

                        <div class="row justify-content-center notranslate" id="commentsContainer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalUserBonus" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="notranslate" id="userbonusTitle"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Price: $<span id="userbonusPrice"></span></h5>
            </div>
            <div class="modal-footer">
                <button type="button" id="buyBonus" class="btn btn-primary">Buy bonus</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalDonate" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="donateTitle">Do your really want to donate?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>
                    Please set sum for donating:
                    <input id="currency" type="number" title="currency" value="10" step="5" min="10" style="width: 100%;" />
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" id="sendDonate" class="btn btn-primary">Send donate</button>
            </div>
        </div>
    </div>
</div>

<style>
    .like,
    .dislike {
        display: inline-block;
        cursor: pointer;
        margin: 5px;
    }

        .dislike:hover,
        .like:hover {
            color: #2EBDD1;
            transition: all .2s ease-in-out;
            transform: scale(1.1);
        }

    .pressed {
        color: #2EBDD1;
    }

    .k-input[type=text] {
        font-size: 20px;
    }

    .linebreaks {
        white-space: pre-wrap;
    }
</style>

<script src="~/js/jquery.simple-calendar.js"></script>
<script src="~/js/jquery.simple-calendar.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    var bonuses = @Html.Raw(jsonBonuses);
    var news = @Html.Raw(jsonNews);
    var photos = @Html.Raw(jsonGalery);
    var comments = @Html.Raw(jsonComments);
    let mode = 'read'
    let cmpId = '@Model.Id'
    let userId = '@user.Id'
    var progressBarBalance, donateCompany;
    var percentSucces = (@Model.Balance* 100 / @Model.Price).toFixed(2);
    var ratingId = window.URL.createObjectURL(new Blob([])).substring(31);


    window.onload = function () {
        var calendarevent = []

        news.forEach(i => calendarevent.push({ startDate: i.Date, endDate: i.Date, summary: i.Content }));

        $("#calendar").simpleCalendar({
            displayEvent: true,
            events: calendarevent,
        });
        $.get('/CommentRating/GetUserCommentRatings', { userId: userId, companyId: cmpId }, function (userCompanyRating) {
            if (userCompanyRating != null) {
                console.log(userCompanyRating)
                userCompanyRating.forEach(r => {
                    if (r.isLike) $("#" + r.comment.id).find(".like").addClass('pressed')
                    else $("#" + r.comment.id).find(".dislike").addClass('pressed');
                })
            }
        });

        bonuses.forEach(b => sendBonus(mode, b.Id, b.Title, b.Price));
        news.forEach(n => sendNews(n.Id, n.Title, n.Content, n.ImageUrl, mode))
        photos.forEach(p => sendPhoto(p.Id, p.ImageUrl, p.Title, mode))
        comments.forEach(c => sendComment(c.Id, c.Title, c.Content, c.Likes, c.Dislikes))
    };

    $(document).ready(function () {
        $('#percentText').html('taked ' + percentSucces + '%')


        $("#commentBox").kendoTextArea({
            rows: 10,
            maxLength: 200,
            placeholder: "Enter ur comment text here pls."
        });

        $("#commentBox").on('input', function (e) {
            $('.k-counter-container .k-counter-value').html($(e.target).val().length);
        });

        progressBarBalance = $('#progressbar').kendoProgressBar({
            max: 100,
            value: percentSucces,
            min: 0,
            orientation: "horizontal",
        }).data("kendoProgressBar");

        $("#mediaplayer").kendoMediaPlayer({
            navigatable: true,
            media: {
                source: '@Model.UrlVideo',
            }
        });

        var cmpRating = $("#cmpRating").kendoRating({
            change: function (e) {
                var companyrate = {
                    id: ratingId,
                    rating: this.parsedValue,
                    userId: '@user.Id'
                }
                $.post('/Rating/AddOrUpdateRating', { 'rate': companyrate, 'companyId': cmpId }, function (ratings) {
                    setcompanyrating(ratings.reduce((r, c) => r + c.rating, 0) / ratings.length, ratings.length);
                    alertingSucces('alertRating');
                });
            }
        }).data("kendoRating");

        var ratingInstance = $("#rating").kendoRating({  }).data("kendoRating");
        ratingInstance.readonly(true);

        $.get('/Rating/GetUserRating', { userId: '@user.Id', companyId: cmpId }, function (userRating) {
            if (userRating != null) {
                ratingId = userRating.id;
                console.log(ratingId);
                cmpRating.value(userRating.rating);
            }
        });

        $.get('/Rating/GetCompanyRating', { userId: '@user.Id', companyId: cmpId }, function (companyRating) {
            if (companyRating != null) setcompanyrating(companyRating.reduce((r, c) => r + c.rating, 0) / companyRating.length, companyRating.length);
        });

        function setcompanyrating(ratevlue, voters) {
            ratingInstance.value(ratevlue);
            document.querySelector('#voters').innerHTML = '(' + voters + ')'
        }

        donateCompany = $("#currency").kendoNumericTextBox({
            format: "c",
            decimals: 2
        }).data("kendoNumericTextBox");

    });

    function alertingSucces(alertId) {
        $('#' + alertId).fadeIn(1000);
        setTimeout(function () {
            $('#' + alertId).fadeOut(1000);
        }, 2000);
    }


    $('#createComment').on('click', function () {
        var commentText = select('#commentBox').elt.value;
        if (commentText.length < 10) kendo.alert("Minimal length of comment - 10 symbols!")
        else {
            var newComment = {
                Id: window.URL.createObjectURL(new Blob([])).substring(31),
                Title: '@user.UserName',
                Content: commentText,
                UserId: '@user.Id',
                Likes: 0,
                Dislikes : 0
            }
            $.post('/Comment/AddComment', { 'comment': newComment, 'companyId': cmpId }, function () {
                hubConnection.invoke("SendComment",  newComment, cmpId);
                sendComment(newComment.Id, newComment.Title, newComment.Content, newComment.Likes, newComment.Dislikes);
                select('#commentBox').elt.value = '';
            });
        }
    });

    $('#buyBonus').on('click', function () {
        var userBonus = {
            id: window.URL.createObjectURL(new Blob([])).substring(31),
            userid: userId
        }
        $.post('/Company/AddUserBonus', { 'userBonus': userBonus, 'bonusId': select('.modal-header').id() }, function (balance) {
            updateBalance(balance);
            $("#modalUserBonus").modal('hide')
        })
    });


    $('#sendDonate').on('click', function () {
        $.post('/Company/AddDonateCompany', { 'companyId': cmpId, 'donateSum': donateCompany.value() }, function (balance) {
            updateBalance(balance);
            $("#modalDonate").modal('hide');
        })
    });

    function updateBalance(balance) {
        var precent = (balance * 100 / @Model.Price).toFixed(2);
        progressBarBalance.value(precent)
        select('#balance').html(balance + '$');
        $('#percentText').html('taked ' + precent + '%')
        alertingSucces('alertDonate');
    }

    hubConnection.on("ApplyComment", function (newComment) {
        sendComment(newComment.id, newComment.title, newComment.content, newComment.likes, newComment.dislikes)
    });





    hubConnection.start().then(() => {
        hubConnection.invoke("OnConnectedGroup", cmpId);
    });
</script>
<script src="~/js/ImageGallery.js"></script>
<script src="~/js/Bonus.js"></script>
<script src="~/js/News.js"></script>
<script src="~/js/ImageUploader.js"></script>
<script src="~/js/Comment.js"></script>